<div class='container' style="width: 25%;border: solid 2px #eee; border-radius: 7px">
  <div style="width: 42%; margin: auto;">
    <h3>New Gallery</h3>
  </div>
  <%= render 'form', gallery: @gallery %>

</div>
